/* PARA PC */
@media (min-width: 601px) {
  header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #da532c;
    position: fixed;
    width: 100%;
    text-align: center;
  }
  
  nav {
    grid-area: nav;
    background-color: #da532c;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  
  aside {
    grid-area: aside;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #0099ff;
    width: 400px;
    text-align: center;
  }
  footer{
   
    background-color: rgb(212, 129, 81);
    color: white;
    font-weight: bold;
    width: 100%;
    height: 115px;
    text-align: center;
    grid-area: footer;
    display: flex;
    justify-content: center;
  }
  footer p {
    font-size: 16px;
    padding-top: 30px;
  }
  main{
    grid-area: main;
    grid-column: 1 / span 2;
    background-color: rgb(255, 255, 255);
    text-align: center;
    background-color: white;
    padding-top: 5%;
    
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  body {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 150px 5fr 280px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "main header header"
      "main header header"
      "footer footer footer";
  }

  main ul {
    list-style-type: none;
  }

  section {
    /*border-bottom: rgb(175, 4, 4) 1px solid;*/
    line-height: 20px;
  }

  main section ul li a {
    text-decoration: none;
  }

  main ul li a:link {
    color: #000000;
  }

  main ul li a:visited {
    color: #0099ff;
  }

  main ul li h2:hover {
    color: #000000;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  

  aside p::first-letter {
    font-size: 24px;
    color: white;
  }

  aside ul {
    list-style-type: none;
    line-height: 20px;
  }

  aside ul a {
    display: inline-block;
    padding: 15px 10px;
    width: 100%;
    text-decoration: none;
    white-space: nowrap;
    color: rgb(74, 62, 241);
    border-top: aqua 2px solid;
  }

  aside ul a:hover {
    background-color: #69c;
  }



  @keyframes example {
    25% {
      font-size: 20px;
      justify-content: stretch;
    }
    100% {
      font-size: 20px;
      justify-content: stretch;
    }
  }

  main ul li a:active {
    color: #ff0000;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav > ul > li ul {
    display: none;
  }
  nav ul li {
    display: inline;
    position: relative;
  }
  nav a {
    display: inline-block;
    padding: 15px 10px;
    width: 120px;
    text-decoration: none;
    white-space: nowrap;
    color: white;
    border-top: solid salmon 2px;
    border-bottom: solid salmon 2px;
  }

  nav a:hover {
    background-color: #69c;
  }

  nav > ul li:hover > ul {
    display: flex;
    justify-content: space-around;
    flex-direction: column-reverse;
    position: absolute;
    top: calc(1em + 5px);
    left: 0;
    background-color: #1d1d1d;
  }


}
/*
p::first-letter {
  font-size: 34px;
  color: #ff0000;
}

----Inicio das fotos natalicias de Vancouver
*/
img.relativoCanadaInverno1 {
  position: relative;
  top: -1170px;
  right: -165px;
  width: 600px;
  height: 300px;
  border: 3px solid rgb(0, 0, 0);
}
img.relativoCanadaInverno2 {
  position: relative;
  top: -850px;
  right: -100px;
  width: 550px;
  height: 250px;
  border: 3px solid rgb(0, 0, 0);
}
img.relativoCanadaInverno3 {
  position: relative;
  top: -950px;
  right: -180px;
  width: 550px;
  height: 300px;
  border: 3px solid rgb(0, 0, 0);
}
img.relativoCanadaInverno4 {
  position: relative;
  top: -1500px;
  right: -480px;
  width: 350px;
  height: 200px;
  border: 3px solid rgb(0, 0, 0);
}
img.relativoCanadaInverno5 {
  position: relative;
  top: -580px;
  right: -100px;
  width: 550px;
  height: 250px;
  border: 3px solid rgb(0, 0, 0);
}
img.relativoCanadaInverno6 {
  position: relative;
  top: -410px;
  right: -110px;
  width: 600px;
  height: 300px;
  border: 3px solid rgb(0, 0, 0);
}
/*
----Fim das fotos natalicias de Vancouver
*/
img.relativoCanadaGastro1 {
  position: relative;
  top: 250px;
  right: -700px;
  width: 400px;
  height: 200px;
  border: 3px solid rgb(148, 0, 0);
}
figcaption.texto_absolutoCanada {
  font-size: 34px;
  position: relative;
  top: 220px;
  right: -700px;
  width: 800px;
  height: 50px;
  color: rgb(8, 5, 5);
}
figcaption.texto_absolutoCanada1 {
  font-size: 18px;
  position: relative;
  top: 260px;
  right: -760px;
  width: 800px;
  height: 50px;
  color: rgb(8, 5, 5);
}
/*
Russia
*/
figcaption.texto_absolutoRussia {
  font-size: 34px;
  position: relative;
  top: 180px;
  right: -470px;
  width: 800px;
  height: 50px;
  color: rgb(8, 5, 5);
}
img.relativoRussiaGastro1 {
  position: relative;
  top: 250px;
  right: -550px;
  border: 3px solid rgb(148, 0, 0);
}
figcaption.texto_absolutoRussia1 {
  font-size: 18px;
  position: relative;
  top: 250px;
  right: -600px;
  width: 350px;
  height: 50px;
  color: rgb(8, 5, 5);
}
img.relativoRussiaGastro2 {
  position: absolute;
  top: 150px;
  right: 950px;
  width: 500px;
  height: 300px;
  border: 3px solid rgb(148, 0, 0);
}
figcaption.texto_absolutoRussia2 {
  font-size: 18px;
  position: relative;
  top: 470px;
  right: 100px;
  width: 5000px;
  height: 50px;
  color: rgb(8, 5, 5);
}

img.relativoRussiaGastro3 {
  position: absolute;
  top: 450px;
  right: 450px;
  width: 550px;
  height: 350px;
  border: 3px solid rgb(148, 0, 0);
}
figcaption.texto_absolutoRussia3 {
  font-size: 18px;
  position: relative;
  top: 810px;
  right: -350px;
  width: 500px;
  height: 50px;
  color: rgb(8, 5, 5);
}

figcaption.texto_AtividadesRussia {
  font-size: 34px;
  position: relative;
  top: 990px;
  right: -350px;
  width: 500px;
  height: 50px;
  color: rgb(41, 5, 141);
}

img.relativo_cosmoticRussia {
  position: absolute;
  top: 50px;
  right: 350px;
  width: 650px;
  height: 450px;
  border: 3px solid rgb(148, 0, 0);
}
figcaption.texto_cosmoticRussia {
  font-size: 18px;
  position: relative;
  top: 520px;
  right: -350px;
  width: 500px;
  height: 50px;
  color: rgb(41, 5, 141);
}
img.relativo_trenoRussia {
  position: absolute;
  top: 550px;
  right: 750px;
  width: 550px;
  height: 350px;
  border: 3px solid rgb(148, 0, 0);
}
figcaption.texto_trenoRussia {
  font-size: 18px;
  position: relative;
  top: 920px;
  right: -120px;
  width: 500px;
  height: 50px;
  color: rgb(41, 5, 141);
}
img.relativo_museuRussia {
  position: absolute;
  top: 950px;
  right: 450px;
  width: 550px;
  height: 350px;
  border: 3px solid rgb(148, 0, 0);
}
figcaption.texto_museuRussia {
  font-size: 18px;
  position: relative;
  top: 1320px;
  right: -320px;
  width: 500px;
  height: 50px;
  color: rgb(41, 5, 141);
}
img.relativo_tankeRussia {
  position: absolute;
  top: 1350px;
  right: 150px;
  width: 550px;
  height: 350px;
  border: 3px solid rgb(148, 0, 0);
}
figcaption.texto_tankeRussia {
  font-size: 18px;
  position: relative;
  top: 1720px;
  right: -580px;
  width: 500px;
  height: 50px;
  color: rgb(41, 5, 141);
}
img.relativo_cathedralRussia {
  position: absolute;
  top: 1250px;
  right: 850px;
  width: 550px;
  height: 350px;
  border: 3px solid rgb(148, 0, 0);
}
figcaption.texto_cathedralRussia {
  font-size: 18px;
  position: relative;
  top: 1620px;
  right: 80px;
  width: 500px;
  height: 50px;
  color: rgb(41, 5, 141);
}

/*
---- Inicio das fotos de verão de Vancouver e texto a indicar fotos que é fotos de verão
*/
figcaption.texto_absolutoMulti {
  font-size: 18px;
  position: relative;
  top: -310px;
  right: -300px;
  width: 800px;
  height: 50px;
  color: rgb(8, 5, 5);
}

img.relativoCanadaVerao1 {
  position: relative;
  top: -300px;
  right: -300px;
  width: 600px;
  height: 300px;
  border: 3px solid rgb(0, 0, 0);
}
img.relativoCanadaVerao2 {
  position: relative;
  top: -100px;
  right: 650px;
  width: 500px;
  height: 250px;
  border: 3px solid rgb(0, 0, 0);
}
img.relativoCanadaVerao3 {
  position: relative;
  top: -200px;
  right: -650px;
  width: 650px;
  height: 420px;
  border: 3px solid rgb(0, 0, 0);
}
img.relativoCanadaVerao4 {
  position: relative;
  top: -130px;
  right: 600px;
  width: 550px;
  height: 300px;
  border: 3px solid rgb(0, 0, 0);
}

img.relativoCanadaVerao5 {
  position: relative;
  top: 50px;
  right: -40px;
  width: 550px;
  height: 250px;
  border: 3px solid rgb(0, 0, 0);
}
img.relativoCanadaVerao6 {
  position: relative;
  top: 80px;
  right: -110px;
  width: 450px;
  height: 250px;
  border: 3px solid rgb(0, 0, 0);
}


/*






*/

a:link{color:blue}
a:visited{color:rgb(209, 21, 21)}
a:hover{color:rgb(51, 207, 3)}
a:active{color:darkblue}




.hamburger-icon {
  position: absolute;
  z-index: 1;
  top: 5vh;
  left: 5vw;
  padding-bottom: 2vh;
}

.hamburger-icon span {
  height: 5px;
  width: 40px;
  background-color: rgb(214, 214, 214);
  display: block;
  margin: 5px 0px 5px 0px;
  transition: 0.7s ease-in-out;
  transform: none;
}



#openmenu:checked ~ .menu-pane {
  left: -8vw;
  transform: translateX(-5vw);
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(2) {
  transform: translate(0%, 175%) rotate(-45deg);
  background-color: rgb(255, 255, 255);
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(3) {
  transform: rotate(45deg);
  background-color: rgb(255, 255, 255);
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(1) {
  opacity: 0;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(4) {
  opacity: 0;
}

div.menu-pane {
  background-color: rgb(0, 0, 0);
  position: absolute;
  transform: translateX(-105vw);
  width: 55%;
  height: 100%;
  transition: 0.6s ease-in-out;
}

.menu-pane p {
  color: rgb(189, 189, 189);
  font-size: 0em;
}

.menu-pane nav {
  padding: 25%;
}

.menu-links li, a, span {
      transition: 0.5s ease-in-out;
}

.menu-pane ul {
  padding: 12%;
  display: block;
}

.menu-pane li {
  padding-top: 1px;
  padding-bottom: 0.7px;
  margin-left: 1px;
    font-size: 10px;
}


.menu-pane li:first-child {
  font-size: 20px;
  margin-left: -10px;
}


.menu-links li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}


.menu-links li:hover a {
  color: #df0000;
}

.menu-links li:first-child:hover a {
  color: rgb(255, 255, 255);  
  background-color: rgb(235, 190, 107);
}

#QC-info {
  background-color: rgb(235, 190, 107);
    border: 2px solid;
  border-color: rgb(235, 190, 107);
display: block;
  opacity: 0;
  
}
#DC-info {
  background-color: rgb(235, 190, 107);
    border: 2px solid;
  border-color: rgb(235, 190, 107);
display: block;
  opacity: 0;
}

.menu-links li:first-child:hover #QC-info {
opacity: 1;
}

.menu-links li:first-child:hover #DC-info {
opacity: 1;
}

#DC-info {
  background-color: rgb(235, 190, 107);
    border: 0.2px solid;
  border-color: rgb(235, 190, 107);
display: block;
  opacity: 0;
}


.menu-links li:first-child a {
  padding: 1px;
}



input.hamburger-checkbox {
  position: absolute;
  z-index: 3;
  top: 5vh;
  left: 5vw;
  width: 10vw;
  opacity: 0;
  height: 6vh;
}


.menu {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
  display: block;
  cursor: pointer;
  pointer-events: none;
  position: relative;
  bottom: -50px;
  left: 20px;
}
.menu:hover {
  pointer-events: all;
}
.label {
  display: inline-block;
  cursor: pointer;
  pointer-events: all;
}
.spacer {
  display: inline-block;
  width: 80px;
  margin-left: 15px;
  margin-right: 15px;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
}
.spacer:before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #000000;
  height: 1px;
  width: 0%;
  transition: width 0.25s ease;
  transition-delay: 0.7s;
}
.item {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  top: 10px;
  opacity: 0;
  transition: opacity 0.5s ease, top 0.5s ease;
  transition-delay: 0;
}
span {
  transition: color 0.5s ease;
}
.item:hover span {
  color: #ff0000;
}
.menu:hover .spacer:before {
  width: 100%;
  transition-delay: 0s;
}
.menu:hover .item {
  opacity: 1;
  top: 0px;
}
.item:nth-child(1) {
  transition-delay: 0.45s;
}
.item:nth-child(2) {
  transition-delay: 0.4s;
}
.item:nth-child(3) {
  transition-delay: 0.35s;
}
.item:nth-child(4) {
  transition-delay: 0.3s;
}
.item:nth-child(5) {
  transition-delay: 0.25s;
}
.item:nth-child(6) {
  transition-delay: 0.2s;
}
.item:nth-child(7) {
  transition-delay: 0.15s;
}
.item:nth-child(8) {
  transition-delay: 0.1s;
}
.item:nth-child(9) {
  transition-delay: 0.05s;
}
.item:nth-child(10) {
  transition-delay: 0s;
}
.menu:hover .item:nth-child(1) {
  transition-delay: 0.25s;
}
.menu:hover .item:nth-child(2) {
  transition-delay: 0.3s;
}
.menu:hover .item:nth-child(3) {
  transition-delay: 0.35s;
}
.menu:hover .item:nth-child(4) {
  transition-delay: 0.4s;
}
.menu:hover .item:nth-child(5) {
  transition-delay: 0.45s;
}
.menu:hover .item:nth-child(6) {
  transition-delay: 0.5s;
}
.menu:hover .item:nth-child(7) {
  transition-delay: 0.55s;
}
.menu:hover .item:nth-child(8) {
  transition-delay: 0.6s;
}
.menu:hover .item:nth-child(9) {
  transition-delay: 0.65s;
}

/* Para Mobile */
@media (max-width: 600px) {
  header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #da532c;
    position: fixed;
    width: 100%;
  }

  nav {
    grid-area: nav;
    background-color: #da532c;
  }

  main {
    grid-area: main;
    background-color: rgb(255, 255, 255);
    padding-top: 350px;
    width: 100%;
  }
  aside {
    grid-area: aside;
    justify-content: center;
    background-color: #da532c;
    width: 100%;
  }

  iframe {
    width: 100%;
    padding: 10px 10px;
  }
  footer {
    grid-area: footer;
    width: 100%;
  }
  body {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "header"
      "header"
      "main"
      "main"
      "footer";
    font-size: 5vw;
    color: rgba(44, 43, 43, 0.986);
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
/*

  main ul li a:link {
    color: #8f0e0e;
  }

  main ul li a:visited {
    color: #0b646449;
  }

  main ul li a:hover {
    color: #000000;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  main ul li a:active {
    color: #ff0000;
  }
  */

  nav ul {
    display: flex;
    flex-direction: row;
    padding: 15px 15px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav > ul > li ul {
    display: none;
  }
  nav ul li {
    display: inline;
    position: relative;
  }
  nav a {
    display: flex;
    flex-direction: column;
    padding: 15px 15px;
    width: 100%;
    text-decoration: none;
    white-space: nowrap;
    color: white;
    border-top: solid salmon 2px;
    border-bottom: solid salmon 2px;
  }

  nav a:hover {
    background-color: #69c;
  }

  nav > ul li:hover > ul {
    display: flex;
    justify-content: space-around;
    flex-direction: column-reverse;
    position: absolute;
    top: calc(1em + 55px);
    left: 0;
    background-color: #1d1d1d;
  }

  aside p::first-letter {
    font-size: 24px;
    color: white;
  }

  aside ul {
    list-style-type: none;
    line-height: 20px;
  }

  aside ul a {
    display: inline-block;
    padding: 15px 10px;
    width: 100%;
    text-decoration: none;
    white-space: nowrap;
    color: rgb(74, 62, 241);
    border-top: aqua 2px solid;
  }
}